.app-header {
    background-color: black;
    margin-bottom: 10px;

    img {
        max-width: 203px;
    }

    @include for-mobile-layout {
        img {
            max-width: 150px;
        }
    }
}