.main-movies-container {
    gap: 10px;

    .movies-preview {
        background-color: #282727;
        border-radius: 3px;
        padding: 10px;
        gap: 10px;

        h4 {
            margin-bottom: 5px;
        }

        svg {
            color: #edec51;
        }
    }

    p {
        font-size: 14px;
    }

    @include for-wide-layout {

        p {
            font-size: 16px;
        }
    }
}