.tab-nav {
    padding: 16px 15px;
    margin-bottom: 10px;

    a {
        margin-inline-end: 10px;
    }

    .active {
        color: rgb(0, 111, 153);
        box-shadow: 0px 1px 0px 0px;
        font-weight: 500;
        cursor: initial;
        padding-bottom: 20px;
    }

}