html {
    font-family: DIN, Helvetica, Arial, sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

h2,
h4,
p {
    margin: 0
}